@tailwind base;
@tailwind components;
@tailwind utilities;

.form {
    @apply w-full m-auto;
}

.form__section {
    @apply bg-lightBlue p-6 my-6;
}

.form__section__instruction {
    @apply font-bold text-lg mb-4;
}

.form__submit {
    @apply text-xl bg-si-blue hover:bg-si-blue-dark text-white font-bold py-2 px-4 rounded focus:outline focus:outline-si-pink cursor-pointer disabled:opacity-50;
}

.form__submit_white {
    @apply text-xl bg-white text-si-blue hover:text-si-blue-dark font-bold py-2 px-4 rounded focus:outline focus:outline-si-pink cursor-pointer disabled:opacity-50;
}

.form__submit_error {
    @apply bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none cursor-pointer disabled:opacity-50;
}

.form__submit_success {
    @apply bg-green-700 hover:bg-green-800 text-white font-bold py-2 px-4 rounded focus:outline-none cursor-pointer disabled:opacity-50;
}

.form__input-group {
    @apply flex flex-wrap -mx-3 mb-4;
}

.form__input-group__instruction {
    @apply px-3 text-sm italic;
}

.form__input-group__element {
    @apply w-full px-3;
}

.form__input-group__element_1\/2 {
    @apply md:w-1/2 md:mb-0;
}

.form__input-group__element__label {
    @apply block tracking-wide font-bold mb-1;
}

.form__input-group__element__input {
    @apply
    block appearance-none w-full py-3 px-4 leading-tight
    border rounded
    focus:outline-none focus:bg-white focus:border-gray-500
    disabled:bg-transparent;
}

.form__input-group__element__p {
    @apply py-3 px-4 border rounded;
}

.form__input-group__element__input.errored {
    @apply border-red-700;
}

.form__input-group__element__select {
    @apply
    block appearance-none w-full py-3 px-4 pr-8 leading-tight
    bg-gray-100 border rounded
    focus:outline-none focus:bg-white focus:border-gray-500
    disabled:border-0 disabled:bg-transparent;
}

.form__input-group__element__instruction {
    @apply text-sm italic;
}

.form__input-group__element__error {
    @apply text-red-700 text-sm italic;
}

button, input {
    @apply disabled:cursor-not-allowed;
}

.link {
    @apply underline text-si-blue hover:text-si-blue-dark;
}

.light-link {
    @apply underline text-blue-100 hover:text-white;
}

.light-pink {
    @apply text-si-pink;
}
