<svg class="w-6 text-gray-700 transform rotate-90 sm:rotate-0 hidden sm:block" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
    <title>puis</title>
    <line fill="none" stroke-miterlimit="10" x1="2" y1="12" x2="22" y2="12"></line>
    <polyline fill="none" stroke-miterlimit="10" points="15,5 22,12 15,19 "></polyline>
</svg>
